doctype html
html(lang=site.lang, prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title=api.title
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    meta(name='description', content=api.description)
    meta(name='keywords', content=`API,${site.keywords}`)
    meta(property='og:title', content=api.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=api.description)
    meta(property='og:url', content=site.url)
    meta(property='og:site_name', content=site.name)
    style.
      body {
        margin: 0;
        padding: 0;
      }
    include ./includes/icons.pug
  body
    redoc(spec-url=`${site.url}/openapi.json`, disable-search)
    script(src='/lib/redoc.standalone.js')
