doctype html
html(lang=site.lang, prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title=site.name
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    meta(name='application-name', content=site.name)
    meta(name='description', content=site.description)
    meta(name='keywords', content=site.keywords)
    meta(property='og:title', content=site.name)
    meta(property='og:type', content='website')
    meta(property='og:description', content=site.description)
    meta(property='og:url', content='https://' + site.url)
    meta(property='og:site_name', content=site.name)
    script(src='/js/commons.js', defer)
    script(src='/js/app.js', defer)
    style
      include ../icomoon/style.css
    style
      include ../css/bundle.css
    link(rel='icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
    link(rel='shortcut icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
    link(rel='alternate' type='application/rss+xml' title=site.name href='https://' + site.url + '/rss')
  body
    include ../icomoon/symbol-defs.svg
    div.container
      header.page-header
        h1=site.name
        p=site.description
        p#header-buttons
          a.icon-twitter(target='_blank', href='//twitter.com/' + site.twitter, title='Twitter')
            svg.icon
              use(xlink:href='#icon-twitter')
          a.icon-calendar(href='/calendar', title='calendar')
            svg.icon
              use(xlink:href='#icon-calendar')
          a.icon-feed(href='/rss', title='RSS')
            svg.icon
              use(xlink:href='#icon-feed')
      include ./includes/main.jade
      include ./includes/footer.jade
